.neck {
  text-align: center;
  
  // push neck down by height of score which is position: fixed
  padding-top: 42px;

  @include for-size(tablet-portrait-up) {
    padding-top: 0px;
  }
}

.neck__fret {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: 6px 0;
  border-bottom: 2px solid $color-fret-metal;
}

.neck__string {
  flex: 1;
}

.neck__button {
  position: relative;
  height: 20px;
  width: 60%;
  border-radius: 20px;
  border: 0;
  background-color: $color-neck-button;
  transition: all .2s;

  @include for-size(tablet-portrait-up) {
    height: 40px;
  }
}

.neck__button--hidden {
  display: none;
}

.neck__button:hover {
  background-color: $color-neck-button-dark;
}

.neck__button:focus {
  outline: 0;
}

.neck__button--warn {
  background-color: $color-neck-button-warn;
}

.neck__button--warn:hover {
  background-color: $color-neck-button-warn-dark;
}

.neck__note {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: "Space Mono", monospace;
  font-size: 16px;
  color: #ffffff;
  transform: translate(-50%, -50%);

  @include for-size(tablet-portrait-up) {
    font-size: 20px;
  }
}