$color-white: #fff;

$color-correct: green;
$color-incorrect: red;

$color-fret-metal: #ddd;
$color-neck-button: #ffdca2;
$color-neck-button-dark: darken(#ffdca2, 20);
$color-neck-button-warn: #fe676e;
$color-neck-button-warn-dark: darken(#fe676e, 20);
